<div class="brand">

  <div class="col-md-6">
    <div class="box">
      <form action="/brands" method="post">
        <h3>Add a brand:</h3>
        <input type="text" name="brand_name">
        <button type="submit" class="btn btn-xs btn-info">Add</button>
      </form>
      <hr>
      <form action="/brands" method="post">
        <h3>Edit a brand name:</h3></br>
        <input type="hidden" name="_method" value="patch">
        Old brand name:
        <select name="brand_id">
          <% @brands.each do |brand| %>
          <option value="<%= brand.id %>"> <%= brand.name %> </option>
          <% end %>
        </select></br>
        New brand name: <input type="text" name="new_name">
        <button type="submit" class="btn btn-xs btn-success">Update</button>
      </form>
      <hr>
      <form action="/brands" method="post">
        <h3>Delete a brand:</h3>
        <input type="hidden" name="_method" value="delete">
        Select a brand to delete:
        <select name="brand_id">
          <% @brands.each do |brand| %>
          <option value="<%= brand.id %>"> <%= brand.name %> </option>
          <% end %>
        </select></br>
        <button type="submit" class="btn btn-xs btn-danger">Delete</button>

      </form>


    </div>
  </div>

  <div class="col-md-6">
    <div class="box">
      <h2>Your Brands</h2>
      <% if @brands.any? %>
      <% @brands.each do |brand| %>
      <a href="/brand/<%= brand.id %>"><%= brand.name %></a></br>
      <% end %>
      <% else %>
      You're not tracking any brands yet!
      <% end %>


    </div>
  </div>
</div>
